<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.js"></script>

  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css">
<script src="cordova.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/factories/MapFactory.js"></script>

  <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
</head>
<ion-view title="Map">
   <ion-content>

  <body ng-app="noParks">
  <div ng-controller="MapController as ctrl">
      <div id="mapContainer" style="width: 640px; height: 480px">
      </div>
   <!--  <div id="mapContainer" style="position:absolute; width:100%; height:51%; background:grey" >
    <div id="routeInstructionsContainer" style="position:absolute; width:100%; height:51%; background:grey" > -->
<!--     <div style="width: 640px; height: 480px" id="mapContainer" >
 -->
    <br>
    {{ ctrl.hello }}

  <p></p>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500">


  <body>
  <div id="locationField" ng-controller="MapController as ctrl">
    <input class="autocomplete" id="ac1" type="text" ng-model="userStart" placeholder="Start Location" onfocus="geolocate()">
    <input class="autocomplete" id="ac2" type="text" ng-model="userEnd" placeholder="Destination" onfocus="geolocate()">
    <label>
    <input type="radio" ng-model="color.name" value="pedestrian" >
    Walking
  </label><br/>
  <label>
    <input type="radio" ng-model="color.name" value="publicTransportTimeTable" >
    Public Transport
  </label>


      <button id="request-coord" ng-click="ctrl.routeGenerator('starttext=' + userStart + '&endtext=' + userEnd + '&type=' + color.name )"> Get Route </button>
      <div id="routeInstructionsContainer" style="width: 640px; height: 480px"></div>

  </div>
  <script>

    var autocomplete;

    function initAutocomplete() {
      var acInputs = document.getElementsByClassName("autocomplete");

      for (var i = 0; i < acInputs.length; i++) {

        var autocomplete = new google.maps.places.Autocomplete(acInputs[i]);
        autocomplete.inputId = acInputs[i].id;

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            // document.getElementById("log").innerHTML = 'You used input with id ' + this.inputId;
        });
      }
    }

    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeDWP97EV9nfUm4RhpWyVZ0fsTT9hBHgs&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</div></body></ion-content>
</ion-view>
</html>
