@import "nib"

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

div .list {
  margin: 0 auto;
  width: 250px;
}

ion-list .choice {
  margin: 0 auto;

}

ion-header-bar {
  background-color: #73EEDC
}
